body{font-family: "Roboto", sans-serif;
    color:black;
    font-size:14px;
    line-height: 1,71;}

.logo{font-family:"Raleway",sans-serif;
font-size:26px}

.web{color:#2196F3}
.studio{color: #FFFFFF}

h1{font-size: 44px;
font-weight: 900;
}

h2{font-size: 36px;
    font-weight: 700;
}
.button:hover, .button:focus{color:#FFFFFF;
background-color: #2196F3;
cursor: pointer;}

.contacts a{color:#757575}

a{text-decoration: none;}
a:hover, a:focus{color:#2196F3}

.upper-text{font-size: 16;
    font-weight: 500;}
    
    .lower-text{font-size: 16;
    font-weight: 400;
    color:#757575}
.localization{color:#FFFFFF}

 
footer{background-color: #2F303A;}




